@import url('./reset.css');



  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

a{
    text-decoration:none !important;
}
body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
.introduction .intro-left-side {
  margin-top: 40px ;
}
.introduction .intro-left-side .trusted-by .book {
  width: 151px;
    height: 58px;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff; /* Text color */
}
.introduction .intro-left-side .trusted-by{
  display: flex;
  align-items: center;
}
.introduction .intro-left-side .trusted-by .CV{
  margin-left: 20px;
}
.introduction .intro-left-side .trusted-by .ox{
  margin: 10px;
}
/* mobile first*/

header .nav-links{ 
    display: none;
}
 header .nav-links a {
   color: #222;

 }


header{
    display: flex;
     
   justify-content: space-between;
     align-items:center ;
 }
 
 .introduction .intro-right-side img {
  width: 100%;
 }
 .introduction .intro-left-side h1 span{
  color: #FF8A56;
  
}
.introduction .intro-left-side h1 {
  font-size: 36px;
}

 /* media sorgulari */

 @media(min-width:768px){
.fa-burger{
  display: none !important;
}
   header .nav-links{
    display:flex ;
    gap: 10px;
    padding: 12px 10px;
   }
   .introduction .intro-left-side h1{
    font-size: 47px;
   }

.introduction .intro-left-side {
  padding-top: 70px;
}
.introduction .intro-right-side  {
padding-top: 40px;
}
.introduction .intro-left-side h1 {
  font-size: 35px;
    font-weight: 700;
}
}


 @media(min-width:1080px) {

  .fa-burger{
    display: none;
  }
 }
