@import url('./reset.css');



  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    text-decoration:none;
}
body{
    font-family: 'Roboto', sans-serif;
}

/* mobile first*/

header .nav-links{ 
    display: none;
}
 header .nav-links a {
   color: #222;
 }


header{
    display: flex;
     
   justify-content: space-between;
     align-items:center ;
 }
 .introduction .intro-left-side h1{
margin-top: 20px;
  font-size: 39px;
  text-align: center;
 }
 
 .introduction .intro-right-side img {
  width: 300px;
  padding-left: 30px;
  
 }
 /* media sorgulari */

 @media(min-width:768px){
.fa-burger{
  display: none !important;
}
   header .nav-links{
    display:flex ;
    gap: 10px;
    padding: 112px 100px;
   }
.introduction{
  display: flex;
}
 }


 @media(min-width:1080px) {

  .fa-burger{
    display: none;
  }
header {
    padding: 30px;
}
.introduction .intro-right-side img {
  width: 500px;
}
.introduction.intro-left-side h1 {
  font-size: 72px;
} 
p{font-size: 22px;}
}

/* introduction hissesi basladi */

.introduction .intro-left-side h1
 span{ color: #FF8A56;
  font-size: 39px;
    font-weight: 700;
 }
 .introduction .intro-left-side p{
  font-size: 22px;
  color: #666;
  text-align: center;
  padding: 10px;
 }
 .introduction